@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  /* background: #555; */
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
}

.smile-face {
  width: 50px;
}